body {
    background-image: url('https://cdn2.steamgriddb.com/hero_thumb/5c341d10c5596a0fd920fda9f33bcb06.jpg');
    background-size: cover;
}

header {
    text-align: center;
    color: chocolate;
}

.content {
    max-width: 1000px;
    margin: auto;
}

.search-form {
    text-align: center; 
}

#osrsItemSearch {
    width: 100%; 
    max-width: 800px;
    padding: 10px; 
    font-size: 16px; 
}

.submit {
    padding: 10px 20px; 
    font-size: 16px; 
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.item, .price, .change, .name {
    flex: 1;
    padding: 10px;
    text-align: center;
    color: white;
}

#bankClerk {
    position: fixed;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    height: 550px;
    width: 300px;
    margin-bottom: 50px;
}

#shop-items {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 70px;
    padding-bottom: 80px;
    padding-left: 20px;
    background-image: url('https://i.imgur.com/jT39Mdq.jpg');
    background-size: cover;
}

#itemDescription {
    color: #ffff00;
    text-align: center;
}

#currentBank {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 600px;
    margin-right: 5%;
    margin-bottom: 0px;
}

h2{
    color: chocolate;
}

#logIn {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 5%;
    color: #ffff00;
}

#easterEgg {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0px;
    margin-left: 5%;
    max-width: 90%;
}

#lumbridgeMiniMap {
    position: fixed;
    top: 0;
    right:0;
    margin-top: 20px;
    margin-right: 5%;
}

#lumbridgeBridge {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 400px;
    width: 600px;
    margin-bottom: 20px;
    margin-right: 5%;
}